body{

    color: #333;
    text-align: center;
    font-family: arial;
}
.container{
    width: 70%;
    padding: 1em;
    border: 10px solid rgb(218, 139, 139);
    margin: 1em auto;
}
.container h1{
    font-size: 20px;

}